:root {
	opacity: 0.5
}

.guilds-2JjMmN,
.listItem-3SmSlK {
	width: 69px;
}

.wrapper-2PSQCG,
.svg-2ifYOU {
	width: 69px;
	height: 69px;
}

.expandedFolderBackground-1kSAf6 {
	left: 8px;
	width: 69px;
}
